.container {
    margin: auto;
    max-width: 700px; 
    font-family: sans-serif;
    
}
.heading {
    color: rgb(120, 10, 230);
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: rgb(114, 109, 109);
}
.site-title{
    font-size:2rem;
    color: rgba(59, 58, 60, 0.432);
    font-weight: 700;
    
}
